<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <!-- LINKEO BOOTSTRAP--> 
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">   
   <!-- FIN LINKEO BOOTSTRAP-->    
   <!-- LINKEO CSS NATIVO-->   
      <link rel="stylesheet" href="../css/estilo.css">
   <!-- FIN LINKEO CSS NATIVO-->	
</head>
<body>
<!-- INICIO ENCABEZADO-->	
<header class="container-fluid">
</div>
<!-- MENU PRINCIPAL-->
 <div class="row ">
     <div class="col-lg-12 col-12">
         <nav class="navbar navbar-expand-lg navbar-light bg-color">
     <a class="navbar-brand" href="../index.html">
         <img src="../assets/img/perla_negra.png" alt="logo barco" class="img-fluid logo">
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
<!-- DIV FINAL--><div class="collapse navbar-collapse justify-content-end" id="navbarNav">
       <ul class="navbar-nav">
         <li class="nav-item active">
           <a class="nav-link" href="../index.html">INICIO <span class="sr-only">(current)</span></a>
         <li class="nav-item active">
           <a class="nav-link" href="peliculas.html">PELICULAS <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="reparto.html">REPARTO</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="galeria.html">GALERIA</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="nosotros.html">NOSOTROS</a>
         </li>
       </ul>
     </div>
   </nav>
     </div>
 </div>
</header>
<!-- FIN ENCABEZADO-->    
<!--INICIO CONTENIDO-->
        <main class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-12">
                        <img src="../assets/img/bbotella.jpg" alt="barco miniatura" class="img-fluid margin_img">
                        <img src="../assets/img/bredonda.jpg" alt="barco miniatura" class="img-fluid">
                    </div>
                    <div class="col-lg-8 col-12 align-items-center">
                        <h3>¿QUIENES SOMOS?</h3>
                        <p>Somos una empresa dedicada a realizar sitios webs de peliculas,
                         trilogias o sagas reconodidas, con el fin de hacer notar nuestras capacidades
                         y pasion por el desarrolo web, el diseño y las buenas peliculas.</p>
                    </div>
                    <div class="col-lg-2 col-12">
                        <img src="../assets/img/bbredonda.jpg" alt="barcos miniatura" class="img-fluid margin_img">
                        <img src="../assets/img/tesoro.jpg" alt="barcos miniatura" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-12 d-flex justify-content-center d-flex"> 
                        <form>
                            <div class="form-group">
                              <label for="exampleFormControlInput1">NOS GUSTARIA SABER TU OPINION!</label>
                              <input type="nombre" class="form-control" id="exampleFormControlInput1" placeholder="Nombre y Apellido">
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlSelect1">¿RECOMENDARIAS ESTA PAGINA?</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>--</option>
                                <option>Si</option>
                                <option>No</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlSelect2">¿QUE PUNTUACION LE DARIAS?</label>
                              <select multiple class="form-control" id="exampleFormControlSelect2">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlTextarea1">COMENTA!</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                            <button type="reset" class="btn btn-secondary btn-lg btn-block">Limpiar</button>
                          </form>
                    </div>
                </div>
       
            </main>

<!-- INICIO FOOTER-->
<footer class="container-fluid">
    <div class="row align-items-center ">
        <div class="col-lg-4 col-12">
         <h2>Podes contactarnos!</h2>
         <div><img src="https://img.icons8.com/material-outlined/24/000000/google-plus.png"/>
         piramovies@gmail.com</div>
         <div><img src="https://img.icons8.com/material-outlined/24/000000/google-maps.png"/>Av Juan B Justo al 6100</div>
         <div><img src="https://img.icons8.com/material-outlined/24/000000/whatsapp--v1.png"/>+54 9 11 3210-9746</div>   
        </div>
        <div class="col-lg-4 col-12">
            <div><img src="https://img.icons8.com/material-outlined/48/000000/facebook-new.png"/> Pira Movies</div>
            <div><img src="https://img.icons8.com/material-outlined/48/000000/instagram-new--v1.png"/>@pira_movies</div>
            <div><img src="https://img.icons8.com/material-outlined/48/000000/twitter-squared.png"/>Pira_Movies</div>
        </div>
  <div class="col-lg-4 col-12">
            <img src="../assets/img/perla_negra.png" alt="logo barco" class="img-fluid logo_foo">
        </div>
    </div>
</footer>
<!-- FIN FOOTER-->
    <!-- INICIALIZANDO BOOTSTRAP--> 
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<!-- FIN INICIALIZANDO BOOTSTRAP-->
</body>
</html>